<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ReactApp</title>
    <meta name="description" content="Unforgettable adventure ahead">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link href="img/favicon/tour-favicon.ico" rel="shortcut icon" type="image/x-icon">-->
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Open Graph data / Facebook Card data -->
    <meta property="og:title" content="Steinhof boilerplate">
    <meta property="og:type" content="webTemplate">
    <meta property="og:url" content="https://github.com/Steinhof">
    <!--    <meta property="og:image" content="img/favicon.svg">-->
    <meta property="og:image:alt" content="A blue package, symbolizing what webpack does.">
    <meta property="og:description" content="Starter boilerplate for static websites.">

    <!--        Configuring Apple Web Applications-->
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon.png">-->

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@Steinhof">

    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="green">
    <meta name="apple-mobile-web-app-title" content="Natours">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!--    <link href="/manifest.json" rel="manifest">-->
</head>

<body>

<h1 class="heading-1">
    Shopping List
</h1>

<main class="content"></main>
</body>

</html>